<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		        {% if page.use_math %}
		         {% include mathjax_support %}
		        {% endif %}
		</head>
		<body>
			<nav>
	    		<ul width: 850px;>
	        		<li><font size="5">Matthew Henry</font></li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/code">Code</a></li>
	        		<li><a href="/notes">Notes</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:matthew.henry@mail.mcgill.ca">Email</a></li>
	        		<li><a href="/CV.pdf">CV</a></li>
	        		<li><a href="https://twitter.com/mattjohenry">Twitter</a></li>
				</ul>
			</footer>
    			{% include analytics.html %}
		</body>
	</html>
