<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		        {% if page.use_math %}
		         {% include mathjax_support %}
		        {% endif %}
		</head>
		<body>
			<nav>
	    		<ul width: 850px;>
	        		<li><font size="5">Matthew Henry</font></li>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/notes">Notes</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:matthew.henry@mail.mcgill.ca">Email</a></li>
	        		<li><a href="http://meteo.mcgill.ca/~mhenry/files/cv-mhenry.pdf">CV</a></li>
	        		<li><a href="https://twitter.com/mattjohenry">Twitter</a></li>
				</ul>
			</footer>
    			{% include analytics.html %}
		</body>
	</html>
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
	</script>
